body{
    font-family: Arial;
    background-color: #f2f2f2;
    margin: 0;
}

header{
    background-color: #c62828;
    color: white;
    text-align: center;
    padding: 15px;
}

nav{
    background-color: #e53935;
}

nav ul{
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

nav ul li{
    display: inline-block;
}

nav ul li a{
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    display: inline-block;
}

nav ul li a:hover{
    background-color: #b71c1c;
}

.container{
    display: flex;
    padding: 20px;
}

.form-area{
    width: 65%;
    background: white;
    padding: 20px;
    margin-right: 20px;
}

.form-area input[type="text"],
.form-area input[type="password"],
.form-area select,
.form-area textarea{
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

.form-area input[type="radio"],
.form-area input[type="checkbox"]{
    width: auto;
    margin-right: 5px;
}

button{
    width: 100%;
    padding: 10px;
    background: #1e88e5;
    color: white;
    border: none;
}

.sidebar{
    width: 35%;
    background: #ddd;
    padding: 20px;
}